body {
  font-family: Arial;
  background: #0f172a;
  color: white;
  padding: 20px;
}

.card {
  background: #1e293b;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.grid {
  display: grid;
  gap: 10px;
}

input, select {
  padding: 8px;
  border-radius: 6px;
  border: none;
}

button {
  padding: 8px 12px;
  margin-top: 10px;
  cursor: pointer;
}